DEEPGRAM_API_KEY=
CARTESIA_API_KEY=
GOOGLE_API_KEY=
BOT_USE_KRISP=

WORLD_DATA_DIR=world-data
WORLD_SECTOR_COUNT=5000
WORLD_SEED=1234

GAME_SERVER_URL=http://localhost:8000
GAME_SERVER_DEV_MODE=1
GAME_SERVER_AGENT_START_URL=http://localhost:7860/start
GAME_SERVER_AGENT_PUBLIC_KEY=