DEEPGRAM_API_KEY=
CARTESIA_API_KEY=
GOOGLE_API_KEY=
DAILY_API_KEY=#optional

WORLD_DATA_DIR=world-data
WORLD_SECTOR_COUNT=5000
WORLD_SEED=1234

BOT_USE_KRISP=

GAME_SERVER_URL=http://localhost:8000
GAME_SERVER_DEV_MODE=1

# For production: 
GAME_SERVER_AGENT_START_URL=http://localhost:7860/start
GAME_SERVER_AGENT_PUBLIC_KEY=
GAME_SERVER_CORS_ALLOWED_ORIGINS=