SUPABASE_ANON_KEY=
SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_SERVICE_ROLE_KEY=
POSTGRES_POOLER_URL=postgresql://postgres:postgres@db:5432/postgres
EDGE_API_TOKEN=

# Optional overrides
BOT_START_URL= # used in start function to specify bot start URL. #default: "http://host.docker.internal:7860/start"
BOT_START_API_KEY= # used in start function to authenticate start request. #default: None

MOVE_DELAY_SCALE=0.25