DEEPGRAM_API_KEY=
CARTESIA_API_KEY=
GOOGLE_API_KEY=

# Optional
WORLD_DATA_DIR=world-data
DAILY_API_KEY=

# Bot
BOT_USE_KRISP=
BOT_START_URL=http://host.docker.internal:7860/start
BOT_START_API_KEY=

# Server
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_URL=
EDGE_API_TOKEN=
EDGE_FUNCTIONS_URL=
EDGE_JWT_SECRET=