DEEPGRAM_API_KEY=
CARTESIA_API_KEY=
GOOGLE_API_KEY=

SUPABASE_URL=http://127.0.0.1:54321

BOT_START_URL=http://host.docker.internal:7860/start
BOT_START_API_KEY=

TOKEN_USAGE_LOG=logs/token_usage.csv
