@utility elbow {
  position: relative;
  overflow: visible;

  &:before {
    content: "";
    position: absolute;
    inset: calc(var(--elbow-offset) * -1);
    background: 
        /* Top-left corner: horizontal part */ linear-gradient(
          var(--elbow-color),
          var(--elbow-color)
        )
        top 0 left 0 / var(--elbow-size) var(--elbow-width) no-repeat,
      /* Top-left corner: vertical part */
        linear-gradient(var(--elbow-color), var(--elbow-color)) top 0 left 0 /
        var(--elbow-width) var(--elbow-size) no-repeat,
      /* Top-right corner: horizontal part */
        linear-gradient(var(--elbow-color), var(--elbow-color)) top 0 right 0 /
        var(--elbow-size) var(--elbow-width) no-repeat,
      /* Top-right corner: vertical part */
        linear-gradient(var(--elbow-color), var(--elbow-color)) top 0 right 0 /
        var(--elbow-width) var(--elbow-size) no-repeat,
      /* Bottom-left corner: horizontal part */
        linear-gradient(var(--elbow-color), var(--elbow-color)) bottom 0 left 0 /
        var(--elbow-size) var(--elbow-width) no-repeat,
      /* Bottom-left corner: vertical part */
        linear-gradient(var(--elbow-color), var(--elbow-color)) bottom 0 left 0 /
        var(--elbow-width) var(--elbow-size) no-repeat,
      /* Bottom-right corner: horizontal part */
        linear-gradient(var(--elbow-color), var(--elbow-color)) bottom 0 right 0 /
        var(--elbow-size) var(--elbow-width) no-repeat,
      /* Bottom-right corner: vertical part */
        linear-gradient(var(--elbow-color), var(--elbow-color)) bottom 0 right 0 /
        var(--elbow-width) var(--elbow-size) no-repeat;
    pointer-events: none;
    opacity: var(--elbow-opacity);
  }
}

@utility elbow-* {
  --elbow-color: --value(--color- *);
  --elbow-width: calc(--value(integer) * 1px);
  --elbow-opacity: calc(--modifier(integer) * 1%);
}

@utility elbow-offset-* {
  --elbow-offset: calc(--value(integer) * var(--spacing));
}

@utility -elbow-offset-* {
  --elbow-offset: calc(--value(integer) * var(--spacing) * -1);
}
