# Optional overrides:
VITE_SERVER_URL= # Supabase functions URL #default: http://127.0.0.1:54321/functions/v1 
VITE_PIPECAT_TRANSPORT= # Pipecat Transport #default: smallwebrtc
VITE_BOT_URL= # Bot start URL when joining directly. Used in Ladle. #default: http://localhost:7860