@layer components {
  .focus-outline {
    outline: none;
    &:focus-visible {
      outline: 2px solid var(--color-primary);
      outline-offset: 3px;
      outline-style: solid;
    }
  }

  .focus-hover {
    outline-style: none;
    outline-width: 2px;
    outline-color: var(--color-primary);
    outline-offset: 3px;

    &:focus-visible,
    &:hover {
      outline-style: solid;
    }
  }

  .mono-upper {
    font-family: var(--font-mono);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
    letter-spacing: var(--tracking-wider);
    line-height: 1;
    text-transform: uppercase;
  }

  .borderclip {
    background-clip: padding-box, border-box;
  }

  .loader-stripes {
    --loader-stripe-color: currentColor;
    background-image: repeating-linear-gradient(
      45deg,
      var(--loader-stripe-color),
      var(--loader-stripe-color) var(--loader-stripe-width),
      var(--color-background) var(--loader-stripe-width),
      var(--color-background) calc(var(--loader-stripe-width) * 2)
    );
    background-size: calc(var(--loader-stripe-width) * 2.828427125)
      calc(var(--loader-stripe-width) * 2.828427125);
    animation: scroll var(--loader-stripe-speed) linear infinite;
    overflow: hidden;
    background-clip: padding-box;
  }

  .screen {
    position: relative;
    --feather-size: var(--screen-bg-feather);
    --border-radius: calc(var(--feather-size) / 2);
    color: var(--color-screen-foreground);

    &:before {
      content: "";
      position: absolute;
      inset: calc(-1 * var(--feather-size));
      pointer-events: none;
      border-radius: var(--border-radius);
      background: var(--color-screen-background);

      -webkit-mask-image: linear-gradient(
          180deg,
          transparent 0,
          #000 var(--feather-size),
          #000 calc(100% - var(--feather-size)),
          transparent 100%
        ),
        linear-gradient(
          90deg,
          transparent 0,
          #000 var(--feather-size),
          #000 calc(100% - var(--feather-size)),
          transparent 100%
        );
      -webkit-mask-composite: source-in;

      mask-image: linear-gradient(
          180deg,
          transparent 0,
          #000 var(--feather-size),
          #000 calc(100% - var(--feather-size)),
          transparent 100%
        ),
        linear-gradient(
          90deg,
          transparent 0,
          #000 var(--feather-size),
          #000 calc(100% - var(--feather-size)),
          transparent 100%
        );
      mask-composite: intersect;
    }
  }
}
