@import "../src/css/index.css";

:root {
  --story-spacing: calc(var(--spacing) * 4);
}

.ladle-main {
  display: flex;
  flex-direction: column;
  gap: var(--story-spacing);
}

.story-heading {
  font-weight: 800;
  font-size: var(--text-base);
  margin-bottom: var(--story-spacing);
  text-transform: uppercase;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing);
}

.story-connect-bar {
  padding: var(--story-spacing);
  background-color: var(--color-card);
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.story-description {
  border: 1px solid var(--color-border);
  padding: var(--story-spacing);
  background-color: var(--color-card);
  font-size: var(--text-sm);
}

.story-card {
  border: 1px solid var(--color-border);
  padding: var(--story-spacing);
  font-size: var(--text-xs);
  display: flex;
  flex-direction: column;
  gap: var(--story-spacing);
}

.story-value-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--spacing) * 1);
    border-bottom: 1px solid var(--color-border);
    padding: 10px 0;

    &:last-child {
      border-bottom: none;
    }

    span:first-child {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
  }
}
